*.aux 
*.fdb_latexmk
*.fls
*.log
*.toc
*.synctex.gz
*.*(busy)*
*.out
.DS_Store
*.pdf
*/.translate_dir
*/.translate_dir
*/*/.translate_dir
*/*/*/.translate_dir
*/*/*/*/.translate_dir
!*/figures/
!figures
!figures/*
!*/figures/*
!*/figures/*.pdf
!**/figures/*.pdf
!figures/*.pdf
*/.DS_Store
!pdfs/stats.pdf
!pdf/ode-prep-patiel-td.pdf
