name: Github Actions CI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Git repository
      uses: actions/checkout@v3

      # (*) To add a file, add the following section for it
    # - name: Stats Amphi
    #   uses: xu-cheng/latex-action@v3
    #   with:
    #     root_file: main.tex
    #     latexmk_shell_escape: true
    #     working_directory: statistical-inference/fr/

    - name: Check PDF files
      run: |
        file stats/main.pdf | grep -q ' PDF '
        file ode-prep-partiel/main.pdf | grep -q ' PDF '
# file statistical-inference/fr/main.pdf | grep -q ' PDF '
        
    - name: Upload to GitHub pages
      run: |
        git config --global user.name "DobbiKov (auto)"
        git config --global user.email "dobbikov@gmail.com"

        mkdir ~/.ssh
        chmod 700 ~/.ssh
        echo "$DEPLOY_KEY" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        git config --global core.sshCommand "ssh -i ~/.ssh/id_ed25519 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"

        git clone --depth=1 --branch gh-pages git@github.com:dobbikov/semester6-lecture-notes.git "$GITHUB_WORKSPACE/deploy"

        # (*) To add a file, add the following command for that file
        # cp -f statistical-inference/fr/main.pdf "$GITHUB_WORKSPACE/deploy/statistical-inference-amphi.pdf"
        cp -f stats/main.pdf "$GITHUB_WORKSPACE/deploy/stats-amphi.pdf"
        cp -f ode-prep-partiel/main.pdf "$GITHUB_WORKSPACE/deploy/ode-prep-partiel-td.pdf"

        cd "$GITHUB_WORKSPACE/deploy"

        git add -A
        git commit -m "[github actions] deploy"
        git push
      env:
        DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
